apiVersion: apps/v1
kind: Deployment
metadata:
  name: fast-api-deployment
  namespace: fast-api-example
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fast-api
  template:
    metadata:
      labels:
        app: fast-api
    spec:
      containers:
        - name: fast-api
          image: kennethan/fast-api-example:latest
          resources:
            limits:
              memory: "256Mi"
              cpu: "500m"
          ports:
            - containerPort: 8000
